{% load staticfiles %}
{% load common_tags %}
<!DOCTYPE html>
<!-- <a href="logout.php">Logout</a> --><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block titulo_head %}{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static '/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static '/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static '/plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="{% static '/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">

    <!-- Custom Css -->
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'base/css/themes/all-themes.css' %}" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'base/css/css_comunes.css' %}" rel="stylesheet" />
    
    {% block css %}
    {% endblock %}

</head>

<body class="theme-blue">


    <div id="loading_"style="position:relative; z-index:150">
        <div class="loading_">
            <button id="boton_agregar" type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
            <i class="material-icons">autorenew</i>
            </button>
        </div>
    </div>

    <!-- Page Loader -->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="">Zooper</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info" style="background: url({% static 'base/img/user-img-background.jpg' %}) no-repeat no-repeat;">
                <div class="image">
                    <img src="{% static 'base/img/user.png' %}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador</div>
                    <div class="email">administrador@ejemplo.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">person</i>Perfil</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="" class=" waves-effect waves-block"><i class="material-icons">input</i>Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            {% cod_menu %}
        </aside>
        <!-- #END# Right Sidebar -->
    </section>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
                <h2>
                    {% block titulo %}
                    {% endblock %}
                </h2>
        </div>
        {% block contenido %}
        {% endblock %}
    </div>
</section>
    <!-- Jquery Core Js -->
    <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
    <!--<script src="https://code.jquery.com/jquery-2.2.4.js"></script>-->

    <!-- Bootstrap Core Js -->
    <script src="{% static '/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Jquery cookie Js -->
    <script src="{% static '/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
    
    <!-- Scripts comunes -->
    <script src="{% static '/base/js/scripts_comunes.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'base/js/admin.js' %}"></script>

    <!-- Select Plugin Js -->
    <script src="{% static '/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static '/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static '/plugins/node-waves/waves.js' %}"></script>

    <!-- Sweet Alert Css -->
    <script src="{% static '/plugins/sweetalert/sweetalert.min.js' %}" ></script>

    <!-- Jquery CountTo Plugin Js 
    <script src="{% static '/plugins/jquery-countto/jquery.countTo.js' %}"></script>-->

    <!-- Morris Plugin Js 
    <script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static '/plugins/morrisjs/morris.js' %}"></script>-->


    <!--
    <script src="{% static 'base/js/pages/index.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'base/js/demo.js' %}"></script>

    <!-- Django Ajax -->
    <script src="{% static '/base/js/DjangoAjax.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>